.component-content--text,
.component-content--title {
  text-align: center;
}
.component-content--form {
  display: flex;
  width: 58%;
  margin: 0 auto;
  line-height: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.component-content-label{
  line-height: 22px;
    margin-top: 10px;
}
.component-content-label span{
  font-size: 10px;
  line-height: 10px;
}
@media (max-width: 1023px) {
  .component-content--form {
    width: 75% !important;
  }
}
.component-content--form .component-content {
  display: flex;
  flex-direction: column;
  width: 48%;
}
@media (max-width: 1023px) {
  .component-content--form .component-content {
    width: 100% !important;
  }
}
.component-content--form .component-content .component-content-input {
  max-height: 40px;
  padding: 8px;
}
.component-content--form .component-form-content--title {
  display: block;
  width: 100%;
  text-align: center;
}
.component-content--form .component-content-button {
  display: block;
  height: 48px;
  background: #638c1c;
  width: 170px;
  color: #fff;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px auto;
  cursor: pointer;
}
.component-content--form .component-content-button:hover {
  background: #555;
}
.component-content--registration {
  text-align: center;
}
.component-verification {
  color: red;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -30px;
  display: block;
}
