@media (min-width: 1023px) {
  .profile__main {
    position: relative;
  }
  .profile__main:hover.-unlogged a {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 16px;
  }
  .profile__main .profile__component {
    display: flex;
    align-items: center;
    height: 38px;
    position: relative;
  }
  .profile__main .profile__component .colorful {
    color: #fff;
    font-weight: 700;
    transition: 300ms ease all;
  }
  .profile__main .profile__component .profile__register {
    margin-left: 5px;
    width: 182px;
    font-size: 0.8rem;
  }
  .profile__main .profile__component .profile__register a {
    font-size: 13px;
    text-decoration: none;
  }
  .profile__main .profile__component .colorful:hover {
    color: #333333;
  }
  .profile__main .profile__component .profile__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profile__main .profile__component .profile__name a {
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
}
@media (max-width: 1023px) {
  .profile__main {
    width: 100%;
    display: flex;
    position: relative;
    line-height: 30px;
  }
  .profile__main .profile__component {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    width: 100%;
  }
  .profile__main .profile__component a {
    color: #ff9e18;
  }
}
